---
import { urlFor } from "../sanity-client";
interface Props {
  employee: any;
}

const { employee } = Astro.props;
---

<li class='mb-4'>
  <div class='card card-compact w-80 h-80 bg-base-100 shadow-xl'>
    <figure>
      <img src={urlFor(employee.image?.asset).url()} alt={employee.firstName} />
    </figure>
    <div class='card-body'>
      <h2 class='card-title'>
        {employee.firstName}
        {employee.lastName}
      </h2>
      <p>{employee.role}</p>
    </div>
  </div>
</li>
